.div-table {
    display: table;
    width: 50%;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px;
}
.div-table-row {
    display: table-row;
    width: 50%;
    clear: both;
}
.div-table-col {
    float: left;
    display: table-column;
    width: 50%;
    background-color: #ccc;
}

@media only screen and (max-width: 600px) {
    .div-table {
        width: 80%;
    }

    .div-table-col {
        width: 100%;
    }
}
